:root{
  --main-yellow: #F5BD26;
  --second-yellow: #F9F1DC;
/* COR AMARELA: #F5BD26 */
/* cor amarela clara: #F9F1DC */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Garamond';
  font-size: 1em;
  background-color: var(--second-yellow);
  margin-block: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img{
  border-block: 5px solid var(--main-yellow);
  border-inline: 2px solid var(--main-yellow);
}

ul {
  /* display: flex; */
  /* gap: 0.5em; */
  margin-block: 2em;
}

ul li{
  list-style-type: none;
  display: inline-block;
}

section{
  width: 100%;
}

section h2{
  font-size: 3em;
  width: auto;
  text-align: center;
  border-bottom: 3px solid var(--main-yellow);
}

section p{
  text-align: center;
  margin-block: 2em;
  display: flex;
  width: 30%;
  margin-inline: auto;
}

footer{
  width: 100%;
  height: 5em;
  background-color: white;
  padding: 2em;
}

footer address{
  text-align: center;
}